run = "bash -c 'source .replit_bashrc && uvicorn backend:app --reload & streamlit run app.py'"
#test
modules = ["python-3.11"]

[env]
BASH_ENV = ".replit_bashrc"

[packager]
language = "python"

[nix]
channel = "stable-24_05"
packages = ["python311", "pip", "openssh", "nano"]

[deployment]
deploymentTarget = "cloudrun"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[interpreter]
entrypoint = "app.py"

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8501
externalPort = 80

[workflows]
runButton = "Run Frontend and Backend"

[[workflows.workflow]]
name = "Run Frontend and Backend"
mode = "parallel"
author = 44234857

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn backend:app --reload --host 0.0.0.0 --port 8000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py"

[[workflows.workflow]]
name = "GitHub"
mode = "sequential"
author = 44234857

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash TZ='America/New_York' git add . && git commit -m \"Update $(date '+%Y-%m-%d %I:%M:%S %p EST')\" && git push"
